@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Tangerine&display=swap');

$cardWidth: 48vw;
$cardMaxWidth: 35em;

$openAnimationLength: 4s;

$primaryFontFamily: 'Tangerine', cursive;

$secondaryFontFamily: 'Architects Daughter', cursive;;
