@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

$cardWidth: 33vw;
$cardMaxWidth: 40em;

$openAnimationLength: 4s;

$fontFamily: 'Great Vibes', cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
