@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

$cardWidth: 48vw;
$cardMaxWidth: 35em;

$openAnimationLength: 4s;

$primaryFontFamily: 'Great Vibes', cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$secondaryFontFamily: serif;
